<h1>List Tests</h1>
<table>
	<tr>
		<td>Tests</td>
	</tr>
[% FOREACH test_name IN db_analyzer.list_names %]
	<tr>
		<td>
			<a href="[% c.uri_for('/analyzer/listoperations',test_name) %]">[% test_name %]</a>
		</td>
	</tr>
[% END %]
</table>
